<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sale.html">
    <link rel="stylesheet" href="view.html">
    <link rel="stylesheet" href="/css/contect.css">
    <title>CONTECT</title>

</head>
<body>
    <header>

        <nav>
          <h1><a class="header" href="web.html">YEENTHAI</a></h1>
          <div class="nav-right">
            <b><a class="Box" href="login.html">SING IN</a></b>
            <b><a class="view" href="view.html">VIEWCART</a></b>
            <input class="search-bar" type="text" placeholder="search" />
            <button class="submit" type="submit">ค้นหา</button>
          </div>
          <ul class="manu">
            <li><a href="new.html">NEW</a></li>
            <li><a href="woman.html">WOMEN</a></li>
            <li><a href="man.html">MAN</a></li>
            <li><a href="saleweb.html">SALE</a></li>
            <li><a href="contect.html">CONTACT</a></li>
          </ul>
        </nav>
      </header>
      <aside class="image">
          <img src="profile.jpg" height="200px">
      </aside>
      <div class="banner">
          <li>CONTECT</li>

          </div>
        <div class="icon">
          <li>ชื่อ นายพงศ์วิทย์ เลหะวาณิชย์</li>
            <a href="https://www.instagram.com/?hl=th">instagram</a>
            <a href="https://www.facebook.com/pongwit.lehawanit.5/">Facebook</a>
        </div>
        <div class="container py-5">
          <div class="card">
              <div class="card-body">
                  <h1>Hello,<%= name %></h1>
                  <a href="/logout" class="btn btn-danger">Logout</a>
              </div>
          </div>
      </div>
      <footer>
        <p>Jeno©2020|Pongwit Lehawanit</p>
      </footer>
</body>
</html>